n8n/crm/merchant-form-submit.json
{
  "name": "Merchant Form Submitted",
  "nodes": [
    {
      "id": "a3000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "notes": "Receives full form payload from merchant-form.html on submit",
      "parameters": {
        "httpMethod": "POST",
        "path": "merchant-form-submit",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a3000001-0000-0000-0000-000000000002",
      "name": "Get Lead",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 300],
      "notes": "Fetches lead record to get Dropbox Folder Path for file uploads",
      "parameters": {
        "operation": "get",
        "base": { "__rl": true, "value": "apppYzklXP1tsbWnF", "mode": "id" },
        "table": { "__rl": true, "value": "tblQe6TUV4DayDMUQ", "mode": "id" },
        "id": "={{ $('Webhook').item.json.body.leadId }}",
        "options": {}
      },
      "credentials": {
        "airtableTokenApi": { "id": "", "name": "Airtable" }
      }
    },
    {
      "id": "a3000001-0000-0000-0000-000000000003",
      "name": "Build Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "Builds the Airtable fields object from the webhook body. Encrypted fields intentionally excluded.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $('Webhook').first().json.body;\nreturn [{\n  json: {\n    recordId: body.leadId,\n    fields: {\n      'Status': 'Form Received',\n      'Form Received Date': new Date().toISOString().split('T')[0],\n      'Legal Name':    body.legal_name        || '',\n      'DBA Name':      body.dba_name          || '',\n      'Contact First': body.contact_first     || '',\n      'Contact Last':  body.contact_last      || '',\n      'Contact Suffix':body.contact_suffix    || '',\n      'Contact Phone': body.contact_phone     || '',\n      'Contact Email': body.contact_email     || '',\n      'Legal Address': body.legal_address_line1 || '',\n      'Legal City':    body.legal_city        || '',\n      'Legal State':   body.legal_state       || '',\n      'Legal Zip':     body.legal_zip         || '',\n      'DBA Address':   body.dba_address_line1 || '',\n      'DBA City':      body.dba_city          || '',\n      'DBA State':     body.dba_state         || '',\n      'DBA Zip':       body.dba_zip           || '',\n      'DBA Phone':     body.dba_phone         || '',\n      'Business Type': body.business_type     || '',\n      'Products Services': body.products_services || ''\n    }\n  }\n}];"
      }
    },
    {
      "id": "a3000001-0000-0000-0000-000000000004",
      "name": "Update Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300],
      "notes": "PATCHes the lead record in Airtable with all form fields. Uses HTTP Request to guarantee field mapping works on import.",
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/apppYzklXP1tsbWnF/tblQe6TUV4DayDMUQ/{{ $json.recordId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: $json.fields }) }}",
        "options": {}
      },
      "credentials": {
        "airtableTokenApi": { "id": "", "name": "Airtable" }
      }
    },
    {
      "id": "a3000001-0000-0000-0000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300],
      "notes": "Responds immediately so the form doesn't time out. File saves continue in parallel after.",
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}"
      }
    },
    {
      "id": "a3000001-0000-0000-0000-000000000006",
      "name": "Prepare Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 100],
      "notes": "Converts non-empty base64 file payloads into binary items for Dropbox upload. Skips any file with no data.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $('Webhook').first().json.body;\nconst leadData = $('Get Lead').first().json;\nconst folderPath = (leadData.fields ? leadData.fields['Dropbox Folder Path'] : leadData['Dropbox Folder Path']) || '_CoCard/_Leads/unknown';\n\nconst files = body.files || {};\nconst results = [];\n\nfor (const [key, file] of Object.entries(files)) {\n  if (!file || !file.data || !file.name) continue;\n  const buffer = Buffer.from(file.data, 'base64');\n  const binary = await this.helpers.prepareBinaryData(buffer, file.name);\n  results.push({\n    json: { dropboxPath: ('/' + folderPath + '/' + file.name).replace('//', '/') },\n    binary: { data: binary }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "a3000001-0000-0000-0000-000000000007",
      "name": "Upload Files",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [1450, 100],
      "notes": "Uploads each document to the lead's Dropbox folder. Runs once per file item from Prepare Files.",
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "path": "={{ $json.dropboxPath }}",
        "binaryData": true,
        "binaryPropertyName": "data"
      },
      "credentials": {
        "dropboxOAuth2Api": { "id": "", "name": "Dropbox" }
      }
    },
    {
      "id": "a3000001-0000-0000-0000-000000000008",
      "name": "Prepare Application Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "notes": "Saves all non-encrypted form fields as application-data.json to Dropbox. Open with decrypt-tool.html to view the full application.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $('Webhook').first().json.body;\nconst leadData = $('Get Lead').first().json;\nconst folderPath = (leadData.fields ? leadData.fields['Dropbox Folder Path'] : leadData['Dropbox Folder Path']) || '_CoCard/_Leads/unknown';\n\nconst appData = {\n  leadId: body.leadId,\n  submitted: new Date().toISOString(),\n  legal_name: body.legal_name,\n  dba_name: body.dba_name,\n  contact_first: body.contact_first,\n  contact_last: body.contact_last,\n  contact_suffix: body.contact_suffix,\n  contact_phone: body.contact_phone,\n  contact_email: body.contact_email,\n  legal_address_line1: body.legal_address_line1,\n  legal_city: body.legal_city,\n  legal_state: body.legal_state,\n  legal_zip: body.legal_zip,\n  dba_address_line1: body.dba_address_line1,\n  dba_city: body.dba_city,\n  dba_state: body.dba_state,\n  dba_zip: body.dba_zip,\n  dba_phone: body.dba_phone,\n  business_type: body.business_type,\n  state_incorporated: body.state_incorporated,\n  incorporated_date: body.incorporated_date,\n  products_services: body.products_services,\n  refund_policy: body.refund_policy,\n  owner1_first: body.owner1_first,\n  owner1_last: body.owner1_last,\n  owner1_suffix: body.owner1_suffix,\n  owner1_address_line1: body.owner1_address_line1,\n  owner1_city: body.owner1_city,\n  owner1_state: body.owner1_state,\n  owner1_zip: body.owner1_zip,\n  owner1_phone: body.owner1_phone,\n  owner1_citizenship: body.owner1_citizenship,\n  owner1_title: body.owner1_title,\n  owner1_percent: body.owner1_percent,\n  has_additional_owners: body.has_additional_owners,\n  owner2_first: body.owner2_first,\n  owner2_last: body.owner2_last,\n  owner2_suffix: body.owner2_suffix,\n  owner2_address_line1: body.owner2_address_line1,\n  owner2_city: body.owner2_city,\n  owner2_state: body.owner2_state,\n  owner2_zip: body.owner2_zip,\n  owner2_phone: body.owner2_phone,\n  owner2_citizenship: body.owner2_citizenship,\n  owner2_title: body.owner2_title,\n  owner2_percent: body.owner2_percent,\n  owner3_first: body.owner3_first,\n  owner3_last: body.owner3_last,\n  owner3_suffix: body.owner3_suffix,\n  owner3_address_line1: body.owner3_address_line1,\n  owner3_city: body.owner3_city,\n  owner3_state: body.owner3_state,\n  owner3_zip: body.owner3_zip,\n  owner3_phone: body.owner3_phone,\n  owner3_citizenship: body.owner3_citizenship,\n  owner3_title: body.owner3_title,\n  owner3_percent: body.owner3_percent,\n  owns_inventory: body.owns_inventory,\n  inventory_on_site: body.inventory_on_site,\n  customer_charged_when: body.customer_charged_when,\n  uses_fulfillment_house: body.uses_fulfillment_house,\n  delivery_1to7_pct: body.delivery_1to7_pct,\n  delivery_8to14_pct: body.delivery_8to14_pct,\n  delivery_14plus_pct: body.delivery_14plus_pct,\n  b2b_pct: body.b2b_pct,\n  public_pct: body.public_pct,\n  monthly_cc_sales: body.monthly_cc_sales,\n  avg_cc_transaction: body.avg_cc_transaction,\n  transactions_per_month: body.transactions_per_month,\n  ach_requested: body.ach_requested,\n  monthly_check_sales: body.monthly_check_sales,\n  checks_per_month: body.checks_per_month,\n  avg_check_amount: body.avg_check_amount,\n  max_check_amount: body.max_check_amount\n};\n\nconst buffer = Buffer.from(JSON.stringify(appData, null, 2), 'utf8');\nconst binary = await this.helpers.prepareBinaryData(buffer, 'application-data.json', 'application/json');\n\nreturn [{\n  json: { dropboxPath: ('/' + folderPath + '/application-data.json').replace('//', '/') },\n  binary: { data: binary }\n}];"
      }
    },
    {
      "id": "a3000001-0000-0000-0000-000000000009",
      "name": "Upload Application Data",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [1450, 300],
      "notes": "Saves application-data.json to the lead's Dropbox folder. Open with decrypt-tool.html to view full application.",
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "path": "={{ $json.dropboxPath }}",
        "binaryData": true,
        "binaryPropertyName": "data"
      },
      "credentials": {
        "dropboxOAuth2Api": { "id": "", "name": "Dropbox" }
      }
    },
    {
      "id": "a3000001-0000-0000-0000-000000000010",
      "name": "Prepare Sensitive Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500],
      "notes": "Packages encrypted EIN, DOBs, and SSNs into sensitive-data.json for Dropbox. Values remain encrypted — decryption happens locally via decrypt-tool.html.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $('Webhook').first().json.body;\nconst leadData = $('Get Lead').first().json;\nconst folderPath = (leadData.fields ? leadData.fields['Dropbox Folder Path'] : leadData['Dropbox Folder Path']) || '_CoCard/_Leads/unknown';\n\nconst sensitive = {\n  leadId:     body.leadId,\n  captured:   new Date().toISOString(),\n  ein:        body.ein        || '',\n  owner1_dob: body.owner1_dob || '',\n  owner1_ssn: body.owner1_ssn || '',\n  owner2_dob: body.owner2_dob || '',\n  owner2_ssn: body.owner2_ssn || '',\n  owner3_dob: body.owner3_dob || '',\n  owner3_ssn: body.owner3_ssn || ''\n};\n\nconst buffer = Buffer.from(JSON.stringify(sensitive, null, 2), 'utf8');\nconst binary = await this.helpers.prepareBinaryData(buffer, 'sensitive-data.json', 'application/json');\n\nreturn [{\n  json: { dropboxPath: ('/' + folderPath + '/sensitive-data.json').replace('//', '/') },\n  binary: { data: binary }\n}];"
      }
    },
    {
      "id": "a3000001-0000-0000-0000-000000000011",
      "name": "Upload Sensitive Data",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [1450, 500],
      "notes": "Saves sensitive-data.json (encrypted EIN/DOBs/SSNs) to the lead's Dropbox folder. Open with decrypt-tool.html to decrypt.",
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "path": "={{ $json.dropboxPath }}",
        "binaryData": true,
        "binaryPropertyName": "data"
      },
      "credentials": {
        "dropboxOAuth2Api": { "id": "", "name": "Dropbox" }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Get Lead", "type": "main", "index": 0 }]]
    },
    "Get Lead": {
      "main": [[{ "node": "Build Fields", "type": "main", "index": 0 }]]
    },
    "Build Fields": {
      "main": [[{ "node": "Update Lead", "type": "main", "index": 0 }]]
    },
    "Update Lead": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Respond": {
      "main": [[
        { "node": "Prepare Files",            "type": "main", "index": 0 },
        { "node": "Prepare Application Data", "type": "main", "index": 0 },
        { "node": "Prepare Sensitive Data",   "type": "main", "index": 0 }
      ]]
    },
    "Prepare Files": {
      "main": [[{ "node": "Upload Files", "type": "main", "index": 0 }]]
    },
    "Prepare Application Data": {
      "main": [[{ "node": "Upload Application Data", "type": "main", "index": 0 }]]
    },
    "Prepare Sensitive Data": {
      "main": [[{ "node": "Upload Sensitive Data", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "" }
}
