n8n/crm/send-for-signature.json
{
  "name": "SignWell — Send for Signature",
  "description": "Triggered by the dashboard Send for Signature form. Fetches merchant and contact data from Airtable, builds a pre-filled SignWell document from the selected template, sends it to the contact for e-signature, and creates a tracking record in the Document Sends table. Banking/payment data passes through only — never stored.",
  "nodes": [
    {
      "id": "sfs-0001",
      "name": "Listen — Dashboard Submits Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "send-for-signature",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "sfs-0002",
      "name": "Get Company from Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "operation": "get",
        "base": { "__rl": true, "value": "apppYzklXP1tsbWnF", "mode": "id" },
        "table": { "__rl": true, "value": "tblPEGS3d1QsE0KY1", "mode": "id" },
        "id": "={{ $('Listen — Dashboard Submits Form').item.json.body.merchant_id }}",
        "options": {}
      },
      "credentials": {
        "airtableTokenApi": { "id": "", "name": "Airtable" }
      }
    },
    {
      "id": "sfs-0003",
      "name": "Get Contact from Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [650, 480],
      "parameters": {
        "operation": "get",
        "base": { "__rl": true, "value": "apppYzklXP1tsbWnF", "mode": "id" },
        "table": { "__rl": true, "value": "tblR80p5dAGRBx68K", "mode": "id" },
        "id": "={{ $('Listen — Dashboard Submits Form').item.json.body.contact_id }}",
        "options": {}
      },
      "credentials": {
        "airtableTokenApi": { "id": "", "name": "Airtable" }
      }
    },
    {
      "id": "sfs-0004",
      "name": "Build SignWell Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "jsCode": "const body      = $('Listen — Dashboard Submits Form').item.json.body;\nconst company   = $('Get Company from Airtable').item.json;\nconst contact   = $('Get Contact from Airtable').item.json;\n\nconst pm = body.payment_method;\nconst freq = body.payment_frequency;\nconst force = body.force_payment;\nconst part = body.participant_type;\n\nconst payload = {\n  test_mode: false,\n  template_ids: [body.template_id],\n  subject: 'Please sign: ' + (company['DBA Name'] || company['Legal Name'] || ''),\n  message: 'Please review and sign the attached document.',\n  recipients: [\n    {\n      id: '1',\n      name: contact['Full Name'] || body.contact_name,\n      email: contact['Email'] || body.contact_email\n    }\n  ],\n  fields: [\n    { api_id: 'Customer_Name',       value: contact['Full Name']          || '' },\n    { api_id: 'Customer_Email',      value: contact['Email']              || '' },\n    { api_id: 'Company_Name',        value: company['DBA Name']           || '' },\n    { api_id: 'Customer_Phone',      value: contact['Phone']              || '' },\n    { api_id: 'Customer_Address',    value: company['DBA Street']         || '' },\n    { api_id: 'Customer_City',       value: company['DBA City']           || '' },\n    { api_id: 'Customer_State',      value: company['DBA State']          || '' },\n    { api_id: 'Customer_Zip',        value: company['DBA Zip Code']       || '' },\n    { api_id: 'Bank_Name',           value: body.bank_name                || '' },\n    { api_id: 'Routing_Number',      value: body.routing_number           || '' },\n    { api_id: 'Account_Number',      value: body.account_number           || '' },\n    { api_id: 'Payment_Start_Date',  value: body.payment_start_date       || '' },\n    { api_id: 'Payment_Amount',      value: String(body.payment_amount)   || '' },\n    { api_id: 'Checking',            value: pm === 'Checking'    ? 'true' : 'false' },\n    { api_id: 'Savings',             value: pm === 'Savings'     ? 'true' : 'false' },\n    { api_id: 'Monthly',             value: freq === 'Monthly'   ? 'true' : 'false' },\n    { api_id: 'Quarterly',           value: freq === 'Quarterly' ? 'true' : 'false' },\n    { api_id: 'Annually',            value: freq === 'Annually'  ? 'true' : 'false' },\n    { api_id: 'Yes',                 value: force === 'Yes'      ? 'true' : 'false' },\n    { api_id: 'No',                  value: force === 'No'       ? 'true' : 'false' },\n    { api_id: 'New_Participant',     value: part === 'New Participant'        ? 'true' : 'false' },\n    { api_id: 'Change_Participant',  value: part === 'Change to Participant'  ? 'true' : 'false' }\n  ]\n};\n\nreturn [{ json: payload }];"
      }
    },
    {
      "id": "sfs-0005",
      "name": "Send to SignWell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300],
      "parameters": {
        "method": "POST",
        "url": "https://www.signwell.com/api/v1/documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "SignWell API" }
      }
    },
    {
      "id": "sfs-0006",
      "name": "Create Document Sends Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1050, 300],
      "parameters": {
        "operation": "create",
        "base": { "__rl": true, "value": "apppYzklXP1tsbWnF", "mode": "id" },
        "table": { "__rl": true, "value": "tblEeAZZqKvVCJiDq", "mode": "id" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Document Name": "={{ $('Get Company from Airtable').item.json.fields['DBA Name'] || $('Get Company from Airtable').item.json.fields['Legal Name'] }}",
            "Template": "={{ $('Listen — Dashboard Submits Form').item.json.body.template_name }}",
            "Status": "Sent",
            "SignWell Document ID": "={{ $('Send to SignWell').item.json.id }}",
            "Sent Date": "={{ new Date().toISOString().split('T')[0] }}",
            "Customer": ["={{ $('Listen — Dashboard Submits Form').item.json.body.merchant_id }}"],
            "Send To Contact": ["={{ $('Listen — Dashboard Submits Form').item.json.body.contact_id }}"]
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "airtableTokenApi": { "id": "", "name": "Airtable" }
      }
    },
    {
      "id": "sfs-0007",
      "name": "Confirm Send to Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, document_id: $('Send to SignWell').item.json.id }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Listen — Dashboard Submits Form": {
      "main": [[{ "node": "Get Company from Airtable", "type": "main", "index": 0 }]]
    },
    "Get Company from Airtable": {
      "main": [[{ "node": "Get Contact from Airtable", "type": "main", "index": 0 }]]
    },
    "Get Contact from Airtable": {
      "main": [[{ "node": "Build SignWell Payload", "type": "main", "index": 0 }]]
    },
    "Build SignWell Payload": {
      "main": [[{ "node": "Send to SignWell", "type": "main", "index": 0 }]]
    },
    "Send to SignWell": {
      "main": [[{ "node": "Create Document Sends Record", "type": "main", "index": 0 }]]
    },
    "Create Document Sends Record": {
      "main": [[{ "node": "Confirm Send to Dashboard", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "" }
}
